// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2 {
  color: red;
  font-size: 36px;
  margin: 0;
}

span {
  font-weight: 600;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-template-rows: repeat(2, mincontent);
  grid-gap: 20px;

  .product-item {
  }
}
