<div class="category__container">
    <%= link_to "All Products", :root%>
    <%= link_to "Female Shoes", "female_shoes" %>
    <%= link_to "Male Shoes", "mens_shoes" %>
</div>

<%= render "product"%>