<section class="product">
    <div class="product__image"></div>
    <div class="product__information">
        <h2 class="product__title"><%= @product.title%></h2>
        <p class="product__price">Price: $<%= @product.price %></p>
        <p class="product__description">
            Description: <br><br>
            <%= @product.description %>
        </p>
    </div>
</section>

<div class="action__container">
    <div class="btn btn__edit">Edit</div>
    <%= link_to "Destroy", product_path(@product), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn__delete" %>
</div>
