<section class="product">
    <div class="product__image"></div>
    <div class="product__information">
        <h2 class="product__title"><%= @product.title%></h2>
        <p class="product__price">Price: $<%= @product.price %></p>
        <p class="product__description">
            Description: <br><br>
            <%= @product.description %>
        </p>
    </div>
</section>